langchain
langchain_community
langchain-core
langchain-huggingface
langchain-openai
langchain-google-vertexai

streamlit
streamlit-extras

beautifulsoup4

PyPDF2
pypdf

gpt4all

chromadb

sentence-transformers==2.2.2

llama-cpp-python

tabulate

pdf2image

faiss-cpu

python-dotenv